table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 30px #000;
    border-radius: 3px;
}
td{
width: 200px;
height: 120px;
text-align: center;
vertical-align: middle;
font-size: 25px;
border: 7px solid #000;
color: rgb(0, 0, 0);
}
.weekend{
    background-color: red;
}
.end{
    color: gray;
}
.eigm{
    background-image: url(../img/eigm.jpg);
    background-size: cover;
    color: aliceblue;
}
.dr{
    background-image: url(../img/dr.png);
    background-size: cover;
}
.stp{
    background-image: url(../img/stp.jpeg);
    background-size: cover;
}

