div{
    position: relative;
    float: left;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
}
.main{
    width: 1250px;
    height: 400px;
    position: absolute;
    top: auto;
    left: auto;
}
.leviiheader{
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
}
.pravverhhead{
    width: 300px;
    height: 100px;
    background: rgb(199, 50, 50);
}
.pravnizhhead{
    width: 300px;
    height: 100px;
    background: rgb(134, 199, 50);
}
.contentlev{
    width: 200px;
    height: 200px;
    background: rgb(41, 15, 155);
}
.contentcentverh{
    width: 600px;
    height: 400px;
    background: rgb(238, 96, 96);
}