.background{
    background-color: #333333;
}
.backround-image_png{
    background-image: url('../img/Cover.png');
    height: 757px;
        width: 1440px;
        background-repeat: no-repeat;
}
body{
height: 1038px;
    width: 1553px;
    left: -102px;
    top: -28px;
    border-radius: 0px;
    background-color: #333333;
    font-family: 'Poppins', sans-serif;

}
.logo{
    height: 59px;
        width: 168px;
        padding-left: 112px;
        padding-top: 50px;
        border-radius: 0px;
        
}