.first-information__yellow-background{
    background-image: url('../img/Title\ background.png');
    height: 245px;
        width: 694px;
        padding-left: 121px;
        margin-top: 177px;
        margin-left: 120px;
        border-radius: 0px;
        
        
}
.first-information__yellow-background_text{
    
    height: 147px;
        width: 556px;
    margin-left: -86px;
    padding-top: 49px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
        
        
}
.second-information__gray-background{
    background-image: url('../img/Background.png');
    height: 85px;
        width: 694px;
        left: 120px;
        margin-top: 11px;
        margin-left: 120px;
        border-radius: 0px;
        
}
.second-information__gray-background_text{
    height: 48px;
        width: 354px;
        margin-top: 11px;
    margin-left: 39px;
    padding-top: 19px;
}
.second-information__button a{
display: block;
    width: 180px;
    color: #333333;
    background: #FFFFFF;
    padding: 21px 41px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 410px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-information__button a:hover {
    display: block;
    width: 180px;
    color: #333333;
    background: #fcf80f;
    padding: 21px 41px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 410px;
    margin-top: -70px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.beautiful-element_polykrug{
    background-image: url("../img/Graphic.png");
    height: 423.0000305175785px;
        width: 422.9999694824223px;
        margin-left: 1030px;
        margin-top: -432px;
        background-repeat: no-repeat;

}
.three-information__gray-background{
    color: #FFFFFF;
    height: 103px;
    width: 1000px;
    margin-left: 100px;
    font-size: 24px;
    padding-top: 100px;
}
.three-information__text{
        color: #FFFFFF;
            height: 103px;
            width: 1000px;
            margin-left: 0px;
            font-size: 24px;
            padding-top: 0px;
            margin-top: 0px;
            font-weight: 600;
}
.kolos-block__text{
    font-weight: 600;
}