.kolos-block{
    background-image: url('../img/About\ image.png');
    height: 500px;
        width: 1437px;
        margin-top: 196px;
}
.kolos-block__background-info{
    background-image: url('../img/About\ background.png');
    height: 590px;
    width: 1320px;
    margin-top: -287px;
    margin-left: 117px;
    background-repeat: no-repeat;
}
.kolos-block__logo{
        padding-top: 68px;
        margin-left: 40px;
}
.kolos-block__text{
    margin-top: 78px;
    margin-left: 53px;
    font-size: 22px;
    line-height: 33px;
}
.kolos-block__mini-text{
    font-size: 16px;
    margin-top: 74px;
    margin-left: 53px;
}
.kolos-block__beautiful{
    background-image: url('../img/Graphic_4.png');
    height: 423px;
    width: 423px;
    margin-left: 845px;
    margin-top: -200px;
}