.block-ourplus__background{
    height: 942px;
        width: 1920px;
    background-color: #000000;
    margin-top: 160px;
}
.block-ourplus__text{
    font-family: Mulish;
        font-size: 40px;
        font-weight: 600;
        line-height: 64px;
        height: 128px;
            width: 1300px;
            color: #FFFFFF;
            padding-top: 220px;
            margin-left: 70px;
}
.block-ourplus__communication h3{
    color: #FFFFFF;
    font-family: Mulish;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
            margin-left: 70px;
}
.block-ourplus__communication p{
    color: #FFFFFF;
    height: 90px;
        width: 460px;
        font-family: Mulish;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
                margin-left: 70px;
}
.block-ourplus__communication img {
    margin-top: 160px;
    margin-left: 70px;
}
.block-ourplus__individual h3{
    color: #FFFFFF;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        
}
.block-ourplus__individual p {
        color: #FFFFFF;
            height: 90px;
            width: 460px;
            font-family: Mulish;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;           
}
.block-ourplus__speed h3 {
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;

}
.block-ourplus__speed p {
    color: #FFFFFF;
    height: 90px;
    width: 460px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.block-ourplus__individual {
    margin-left: 670px;
    margin-top: -230px;
}
.block-ourplus__speed{
    margin-left: 1270px;
    margin-top: -230px;
}
.block-ourplus__background{
    height: 942px;
        width: 1920px;
    background-color: #000000;
    margin-top: 160px;
}
.block-ourplus__text{
    font-family: Mulish;
        font-size: 40px;
        font-weight: 600;
        line-height: 64px;
        height: 128px;
            width: 1300px;
            color: #FFFFFF;
            padding-top: 220px;
            margin-left: 70px;
}
.block-ourplus__communication h3{
    color: #FFFFFF;
    font-family: Mulish;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
            margin-left: 70px;
}
.block-ourplus__communication p{
    color: #FFFFFF;
    height: 90px;
        width: 460px;
        font-family: Mulish;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
                margin-left: 70px;
}
.block-ourplus__communication img {
    margin-top: 160px;
    margin-left: 70px;
}
.block-ourplus__individual h3{
    color: #FFFFFF;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        
}
.block-ourplus__individual p {
        color: #FFFFFF;
            height: 90px;
            width: 460px;
            font-family: Mulish;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;           
}
.block-ourplus__speed h3 {
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;

}
.block-ourplus__speed p {
    color: #FFFFFF;
    height: 90px;
    width: 460px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.block-ourplus__individual {
    margin-left: 670px;
    margin-top: -230px;
}
.block-ourplus__speed{
    margin-left: 1270px;
    margin-top: -230px;
}