<<<<<<< HEAD
.footer__backround{
    height: 655px;
        width: 1920px;
        margin-top: 160px;
background-color: #000000;
}
.footer__text-logo span{
font-family: Mulish;
font-size: 32px;
font-weight: 300;
line-height: 40px;
letter-spacing: 0em;
color: #F6523C;
}
.footer__text-logo p {
font-family: Mulish;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
color: #FFFFFF;
}
.footer__text-logo{
    margin-left: 70px;
    padding-top: 70px;
}
.footer__company h3{
font-family: Mulish;
font-size: 24px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 388px;
}
.footer__company li{
    padding-top: 32px;
    font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
}
.footer__company a {
    color: #FFFFFF;
    margin-left: 350px;
    font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
}
.footer__company{
    margin-top: -65px;
}
.footer__service h3 {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 677px;
    margin-top: -348px;
}
.footer__service a {
    color: #FFFFFF;
        margin-left: 635px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        text-transform: uppercase;
}
.footer__service li {
    padding-top: 32px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}
.footer-callus__contact-info-phone p{
    font-family: Mulish;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        color: #FFFFFF;
}
.footer-callus__contact-info-phone p{
    margin-left: 60px;
    margin-top: -30px;
}
.footer-callus__contact-info-adress p{
        font-family: Mulish;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        color: #FFFFFF;
        height: 50px;
        width: 284px;
        margin-left: 60px;
            margin-top: -45px;
}
.footer-callus__contact-info-email p{
        font-family: Mulish;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            color: #FFFFFF;
            height: 50px;
            width: 284px;
            margin-left: 60px;
            margin-top: -30px;
}
.footer-callus__zagolovok h3{
font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer__callus{
    margin-left: 1398px;
    margin-top: -357px;
}
.footer-link-img{
    display: flex;
    flex-direction: row;
}
.footer-link-img-drib{
    margin-right: 24px;
    margin-left: 24px;
}
.footer-link-img-behance{
    margin-right: 24px;
}
.footer__down-text p{
font-family: Mulish;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
color: #FFFFFF;
height: 25px;
    width: 1920px;
margin-top: 6px;
margin-left: -643px;
text-transform: uppercase;
padding-top: 40px;
display: flex;
align-items: center;
}
.footer__down-text{
    display: flex;
    justify-content: center;
}
.border{
    border-top: 1px solid white;

        width: 2393px;
            margin-left: -1811px;
            margin-top: 126px;
=======
.footer__backround{
    height: 655px;
        width: 1920px;
        margin-top: 160px;
background-color: #000000;
}
.footer__text-logo span{
font-family: Mulish;
font-size: 32px;
font-weight: 300;
line-height: 40px;
letter-spacing: 0em;
color: #F6523C;
}
.footer__text-logo p {
font-family: Mulish;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
color: #FFFFFF;
}
.footer__text-logo{
    margin-left: 70px;
    padding-top: 70px;
}
.footer__company h3{
font-family: Mulish;
font-size: 24px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 388px;
}
.footer__company li{
    padding-top: 32px;
    font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
}
.footer__company a {
    color: #FFFFFF;
    margin-left: 350px;
    font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
}
.footer__company{
    margin-top: -65px;
}
.footer__service h3 {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 677px;
    margin-top: -348px;
}
.footer__service a {
    color: #FFFFFF;
        margin-left: 635px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        text-transform: uppercase;
}
.footer__service li {
    padding-top: 32px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}
.footer-callus__contact-info-phone p{
    font-family: Mulish;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        color: #FFFFFF;
}
.footer-callus__contact-info-phone p{
    margin-left: 60px;
    margin-top: -30px;
}
.footer-callus__contact-info-adress p{
        font-family: Mulish;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        color: #FFFFFF;
        height: 50px;
        width: 284px;
        margin-left: 60px;
            margin-top: -45px;
}
.footer-callus__contact-info-email p{
        font-family: Mulish;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            color: #FFFFFF;
            height: 50px;
            width: 284px;
            margin-left: 60px;
            margin-top: -30px;
}
.footer-callus__zagolovok h3{
font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer__callus{
    margin-left: 1398px;
    margin-top: -357px;
}
.footer-link-img{
    display: flex;
    flex-direction: row;
}
.footer-link-img-drib{
    margin-right: 24px;
    margin-left: 24px;
}
.footer-link-img-behance{
    margin-right: 24px;
}
.footer__down-text p{
font-family: Mulish;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
color: #FFFFFF;
height: 25px;
    width: 1920px;
margin-top: 6px;
margin-left: -643px;
text-transform: uppercase;
padding-top: 40px;
display: flex;
align-items: center;
}
.footer__down-text{
    display: flex;
    justify-content: center;
}
.border{
    border-top: 1px solid white;

        width: 2393px;
            margin-left: -1811px;
            margin-top: 126px;
>>>>>>> ea76e2b31cba1c12c47c7c491140af1b1ad89226
}