.our-works__background{
height: 1022px;
    width: 1920px;
    background-color: #ffffff;
}
.our-works__zagalovok span{
font-family: Mulish;
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0.01em;
color: #F6523C;
text-transform: uppercase;
}
.our-works__zagalovok{
font-family: Mulish;
font-size: 40px;
font-weight: 600;
line-height: 52px;
letter-spacing: 0.01em;
margin-top: 160px;
margin-left: 70px;
text-transform: uppercase;
}
.our-works__text{
    font-family: Mulish;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin-left: 70px;
        margin-top: 30px;
        height: 108px;
            width: 413px;
}
.our-works__link{
    border: 1px solid #000000;
    height: 66px;
    width: 291px;
    margin-left: 70px;
    margin-top: 30px;
}
.our-works__link a{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 24px;
    color: #000000;
}
.our-works__link img{
    margin-left: 53px;
}
.our-works__mobie-trackers p {
    height: 81px;
    width: 410px;
    left: 0px;
    top: 54px;
    border-radius: nullpx;
    font-family: Mulish;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        letter-spacing: 0.01em;
}
.our-works__mobie-trackers h3 {
        font-family: Mulish;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        }
.our-works__univer-today p{
height: 81px;
width: 410px;
left: 0px;
top: 54px;
border-radius: nullpx;
    font-family: Mulish;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        letter-spacing: 0.01em;
}
.our-works__univer-today h3 {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.our-works__blog-study p{
height: 81px;
    width: 410px;
    left: 0px;
    top: 54px;
    border-radius: nullpx;
        font-family: Mulish;
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0.01em;
}
.our-works__blog-study h3 {
font-family: Mulish;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.01em;
text-transform: uppercase;
}
.our-works__cards{
    display: flex;
    flex-direction: row;
    margin-left: 580px;
    margin-top: -1000px;

}
.our-works__univer-today{
    margin-right: 20px;
    margin-left: 20px;
}
