.site-menu__logo{
    background-image: url('../img/logo.png');
    width: 200px;
    height: 45px;
}
.site-menu{
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
}
.site-menu__menu-item ul{
        display: flex;
        flex-direction: row;
}
.site-menu__language ul{
            display: flex;
                flex-direction: row;
}
.site-menu__menu-item a{
    margin-left: 50px;
    color: black;

}
li{
        
        list-style-type: none;
}
a{
    text-decoration: none;
}
.site-menu__language-ru {
    border-right: 1px solid black;
}
.site-menu__button{
    width: 240px;
    height: 67px;
    background: #F6523C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-menu__button a{
    color: #FFFFFF;
}
.article-white__text{
    width: 820px;
    height: 96px;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 70px;
    font-size: 20px;
   
}
.article-white__zagolovok{
    font-weight: 800;
    font-size: 40px;
    width: 1132px;
        height: 192px;
        margin-left: 70.5px;
}
.site-menu__language a{
    color: black;
}
body{
    font-family: 'Mulish', sans-serif;
    width: 1920px;
    margin-top: 58px;
}
.article-white__web-development-img{
    background-image: url('../img/Files\ transfer.png');
    width: 103px;
    height: 73px;
}
.article-white__web-development-text-zagolovok{
    font-weight: 600;
}
.article-white__web-development-text p{
    width: 438px;
    height: 84px;
    font-family: Mulish;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
}
.article-white__ul-li{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 40px;
}
.article-white__menu-item li{
    margin-top: 33px;
}
.article-white__big-img{
    background-image: url('../img/график.png');
    height: 564px;
    width: 786px;
    margin-left: 1064px;
    margin-top: -88px;
}
.article-white__border{
border-left: 1px solid #000000;
height: 230px;
margin-left: 135px;
margin-top: -35px;
}
.article-white__menu-item{
    margin-top: -70px;
    height: 199px;
        width: 183px;

}
.article-white__www{
    width: 200px;
}
.article-white__web-development-text{
    margin-left: 42px;
    margin-top: -35px;
}
.article-white__menu-item a{
    font-family: Mulish;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        color: #000000;
}
