.cosmetology-article__zagolovok{
    margin-top: 190px;
    
    font-size: 48px;
}
.cosmetology-article__text{
    width: 550px;    
    font-size: 14px;
}

.cosmetology-article{
    display: flex;
    flex-direction: row;
}
img{
            display: inline-block;
            }
