.offer-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.complex-procedure span{
    position: absolute;
    background: #00868A;
    width:648px;
    height: 80px;
    left: 0;
}

.vip-clients span{
            position: absolute;
                background: #00868A;
                width: 324px;
                height: 80px;
}
.center-study{
                    position: absolute;
                    width: 324px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        
}

