.block-frenchAuthor {
    background-image: url('../img/french-backgroundNew.jpg');
    margin-top: 70px;
    height: 574px;
    padding-left: 165px;
    
}
.block-frenchAuthor_article-img768{
    display: none;
}
.block-frenchAuthor_article-img576 {
    display: none;
}
.block-frenchAuthor_article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-frenchAuthor_text-and-button {
    display: flex;
    flex-direction: column;
}

.block-frenchAuthor .container {
    display: flex;
    flex-direction: column;
}

.block-frenchAuthor_article-text{
    color: #F4F6F5;
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 421px;
}
.block-frenchAuthor_text p{
    color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        width: 540px;
        margin-top: -30px;
}

.block-frenchAuthor_button a{
    display: inline-flex;
        height: 65px;
        padding: 20px 60px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
            font-family: Raleway;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 35px;
}
.block-frenchAuthor_article-img img{
    padding-right: 20px;
}
.block-frenchAuthor {
    background-image: url('../img/french-backgroundNew.jpg');
    margin-top: 70px;
    height: 574px;
    padding-left: 165px;
    
}
.block-frenchAuthor_article-img768{
    display: none;
}
.block-frenchAuthor_article-img576 {
    display: none;
}
.block-frenchAuthor_article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-frenchAuthor_text-and-button {
    display: flex;
    flex-direction: column;
}

.block-frenchAuthor .container {
    display: flex;
    flex-direction: column;
}

.block-frenchAuthor_article-text{
    color: #F4F6F5;
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 421px;
}
.block-frenchAuthor_text p{
    color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        width: 540px;
        margin-top: -30px;
}

.block-frenchAuthor_button a{
    display: inline-flex;
        height: 65px;
        padding: 20px 60px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
            font-family: Raleway;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 35px;
}
.block-frenchAuthor_article-img img{
    padding-right: 20px;
}
@media (max-width: 1300px) {
    .block-frenchAuthor {
            background-image: url('../img/french-backgroundNew.jpg');
            margin-top: 70px;
            height: 574px;
            padding-left: 0px;
            display: flex;
            justify-content: center;
        }
    
        .block-frenchAuthor_article-img768 {
            display: none;
        }
    
        .block-frenchAuthor_article-img576 {
            display: none;
        }
    
        .block-frenchAuthor_article {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        .block-frenchAuthor_text-and-button {
            display: flex;
            flex-direction: column;
        }
    
        .block-frenchAuthor .container {
            display: flex;
            flex-direction: column;
        }
    
        .block-frenchAuthor_article-text {
            color: #F4F6F5;
            font-family: Raleway;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            width: 421px;
        }
    
        .block-frenchAuthor_text p {
            color: #FFF;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            width: 540px;
            margin-top: -30px;
        }
    
        .block-frenchAuthor_button a {
            display: inline-flex;
            height: 65px;
            padding: 20px 60px;
            justify-content: center;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
            background-color: #EEDB6D;
            color: #2C2D35;
            font-family: Raleway;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 35px;
        }
    
        .block-frenchAuthor_article-img img {
            padding-right: 20px;
        }

    
        .block-frenchAuthor_article-img768 {
            display: none;
        }
    
        .block-frenchAuthor_article-img576 {
            display: none;
        }
    
        .block-frenchAuthor_article {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        .block-frenchAuthor_text-and-button {
            display: flex;
            flex-direction: column;
        }
    
        .block-frenchAuthor .container {
            display: flex;
            flex-direction: column;
        }
    
        .block-frenchAuthor_article-text {
            color: #F4F6F5;
            font-family: Raleway;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            width: 421px;
        }
    
        .block-frenchAuthor_text p {
            color: #FFF;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            width: 540px;
            margin-top: -30px;
        }
    
        .block-frenchAuthor_button a {
            display: inline-flex;
            height: 65px;
            padding: 20px 60px;
            justify-content: center;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
            background-color: #EEDB6D;
            color: #2C2D35;
            font-family: Raleway;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 35px;
        }
    
        .block-frenchAuthor_article-img img {
            padding-right: 20px;
        }
}
@media (max-width: 768px) {
.block-frenchAuthor {
        background-image: url('../img/frenchAuthor768.png');
        margin-top: 70px;
        height: 502px;
        padding-left: 39px;

    }
.block-frenchAuthor_article-img {
    display: none;
}

.block-frenchAuthor_article-img576 {
    display: none;
}
.block-frenchAuthor_article-img768 {
    display: block;
    padding-right: 20px;
}
    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 421px;
    }

    .block-frenchAuthor_text p {
        color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        width: 690px;
        margin-top: -30px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 65px;
        padding: 20px 60px;
        width: 210px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 35px;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}
@media (max-width: 750px) {
    .block-frenchAuthor {
        background-image: url('../img/frenchAuthor768.png');
        margin-top: 50px;
        height: 410px;
        padding-left: 33px;
        overflow: hidden;
    }

    .block-frenchAuthor_article-img768 {
        display: none;
    }

    .block-frenchAuthor_article-img {
        display: none;
    }

    .block-frenchAuthor_article-img576 {
        display: block;
        padding-right: 20px;
    }

    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 261px;
    }

    .block-frenchAuthor_text p {
        color: #FFF;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        width: 510px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 65px;
        padding: 20px 60px;
        width: 190px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}
@media (max-width: 576px) {
    .block-frenchAuthor {
        background-image: url('../img/frenchAuthor576.png');
        margin-top: 50px;
        height: 410px;
        padding-left: 33px;
        overflow: hidden;
    }
.block-frenchAuthor_article-img768 {
    display: none;
}

.block-frenchAuthor_article-img {
    display: none;
}
.block-frenchAuthor_article-img576 {
    display: block;
    padding-right: 20px;
}
    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 261px;
    }

    .block-frenchAuthor_text p {
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 510px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 65px;
        padding: 20px 60px;
        width: 190px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}
@media (max-width: 573px) {
    .block-replics__text {
            width: 310px;
            height: 233px;
            flex-shrink: 0;
            padding-left: 40px;
            justify-content: center;
                align-items: center;
        }
                .block-reproductions {
                    padding-left: 22px;
                    padding-right: 39px;
                }
    .block-frenchAuthor {
        background-image: url('../img/frenchAuthor576.png');
        margin-top: 50px;
        height: 410px;
        padding-left: 15px;
        overflow: hidden;
            display: flex;
    justify-content: center;
    }

    .block-frenchAuthor_article-img768 {
        display: none;
    }

    .block-frenchAuthor_article-img {
        display: none;
    }

    .block-frenchAuthor_article-img576 {
        display: block;
        padding-right: 10px;
    }

    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 230px;
    }

    .block-frenchAuthor_text p {
        color: #FFF;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 22.4px */
        width: 290px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 50px;
        padding: 20px 60px;
        width: 275px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}
@media (max-width: 320px) {
    .block-frenchAuthor {
        background-image: url('../img/frenchAuthor576.png');
        margin-top: 50px;
        height: 410px;
        padding-left: 15px;
        overflow: hidden;
    }

    .block-frenchAuthor_article-img768 {
        display: none;
    }

    .block-frenchAuthor_article-img {
        display: none;
    }

    .block-frenchAuthor_article-img576 {
        display: block;
        padding-right: 10px;
    }

    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 230px;
    }

    .block-frenchAuthor_text p {
color: #FFF;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
        width: 290px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 50px;
        padding: 20px 60px;
        width: 275px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}
@media (max-width: 317px) {
    .block-frenchAuthor {
        background-image: url('../img/frenchAuthor576.png');
        margin-top: 50px;
        height: 410px;
        padding-left: 15px;
        overflow: hidden;
    }

    .block-frenchAuthor_article-img768 {
        display: none;
    }

    .block-frenchAuthor_article-img {
        display: none;
    }

    .block-frenchAuthor_article-img576 {
        display: block;
        padding-right: 10px;
    }

    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 230px;
    }

    .block-frenchAuthor_text p {
        color: #FFF;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 22.4px */
        width: 260px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 50px;
        padding: 20px 60px;
        width: 260px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}
@media (max-width: 305px) {
    .block-frenchAuthor {
        background-image: url('../img/frenchAuthor576.png');
        margin-top: 50px;
        height: 410px;
        padding-left: 15px;
        overflow: hidden;
    }

    .block-frenchAuthor_article-img768 {
        display: none;
    }

    .block-frenchAuthor_article-img {
        display: none;
    }

    .block-frenchAuthor_article-img576 {
        display: block;
        padding-right: 10px;
    }

    .block-frenchAuthor_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
    }

    .block-frenchAuthor_text-and-button {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor .container {
        display: flex;
        flex-direction: column;
    }

    .block-frenchAuthor_article-text {
        color: #F4F6F5;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 230px;
    }

    .block-frenchAuthor_text p {
        color: #FFF;
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 22.4px */
        width: 250px;
    }

    .block-frenchAuthor_button a {
        display: inline-flex;
        height: 50px;
        padding: 20px 60px;
        width: 275px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        background-color: #EEDB6D;
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .block-frenchAuthor_article-img img {
        padding-right: 20px;
    }
}