html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #2C2D35;
}
.menu__btn{
    display: none;
}
.menu__btn span{
    height: 1px;
}
.header .container{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 165px;
    padding-right: 165px;
    margin: 0 auto;
    background-color: #E1EDE6;
}
.header__logo-text{
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__menu-list nav ul{
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
}
.header__menu-list nav ul {
color: #2C2D35;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
gap: 60px;
}
.header__menu-list-and-icon{
    display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 60px;
}
.menu__btn-close {
    display: none;
}
.header__menu-list nav ul li a:hover {
    color: #598D66;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 60px;
}
@media (max-width: 970px) {
.header .container {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        padding-left: 120px;
        padding-right: 120px;
        margin: 0 auto;
        background-color: #E1EDE6;
    }

    .header__logo-text {
        color: #598D66;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__menu-list nav ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 60px;
    }

    .header__menu-list-and-icon {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 880px) {
    .header .container {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
        background-color: #E1EDE6;
    }

    .header__logo-text {
        color: #598D66;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__menu-list nav ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 60px;
    }

    .header__menu-list-and-icon {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 800px) {
    .header .container {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
        background-color: #E1EDE6;
    }

    .header__logo-text {
        color: #598D66;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__menu-list nav ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 60px;
    }

    .header__menu-list {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 768px) {
    .header .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: 768px;
            padding-left: 39px;
            padding-right: 39px;
            margin: 0 auto;
        }
    .header__menu-list nav ul {
color: #2C2D35;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.header__logo-text p{
color: #598D66;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.menu__btn {
    display: none;
}
}
@media (max-width: 692px) {
    .header .container {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
        background-color: #E1EDE6;
    }

    .header__logo-text {
        color: #598D66;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__menu-list nav ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 50px;
    }

    .header__menu-list-and-icon {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 670px) {
    .header .container {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        background-color: #E1EDE6;
    }

    .header__logo-text {
        color: #598D66;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__menu-list nav ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 29px;
    }

    .header__menu-list-and-icon {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 17px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 576px) {
    .header .container{
        display: flex;
        flex-direction: column;
        display: flex;
        height: 123px;
        padding: 0;
    }
    .header__logo{
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }
    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 0px;
        padding-right: 33px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 470px) {
    .header .container {
        display: flex;
        flex-direction: column;
        display: flex;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 0px;
        padding-right: 33px;
    }
        .menu__btn {
            display: none;
        }
}
@media (max-width: 450px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
            background-color: #fff;
                width: 100%;
                justify-content: center;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
            display: flex;
                flex-direction: column;
                width: 320px;
                height: 433px;
                background-color: #E1EDE6;
                gap: 50px;
                padding-top: 16px;
                z-index: 9999;
    }

.menu__btn {
    display: flex;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.header__menu-list {
    display: none;
}
.menu__btn-close{
    display: block;
    background-color: transparent;
    border: none;
    padding-left: 23px;
}
.header__menu-list{
    align-self: flex-start;
}

.header__menu-list.open{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 433px;
    background-color: #E1EDE6;
    transform: translateX(-61px);
}
.menu__btn-close {
    display: block;
}
.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
.header__icon{
position: absolute;
right: 15px;
top: 85px;
}
.menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
}
@media (max-width: 420px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
    }

    .header__menu-list {
        display: none;
    }

    .menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
}
@media (max-width: 390px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
    }

    .header__menu-list {
        display: none;
    }

    .menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
}
@media (max-width: 390px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
    }

    .header__menu-list {
        display: none;
    }

    .menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
}
@media (max-width: 360px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
    }

    .header__menu-list {
        display: none;
    }

    .menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
}
@media (max-width: 330px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
    }

    .header__menu-list {
        display: none;
    }

    .menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
}
@media (max-width: 300px) {
    .header .container {
        display: flex;
        flex-direction: column;
        height: 123px;
        padding: 0;
    }

    .header__logo {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .header__menu-list nav ul {
        color: #2C2D35;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 33px;
        padding-right: 33px;
    }

    .header__menu-list {
        display: none;
    }

    .menu__btn {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
}

        @media (max-width: 270px) {
            .header .container {
                display: flex;
                flex-direction: column;
                height: 123px;
                padding: 0;
            }
    
            .header__logo {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }
    
            .header__menu-list nav ul {
                color: #2C2D35;
                font-family: Raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding-left: 33px;
                padding-right: 33px;
            }
    
            .header__menu-list {
                display: none;
            }
    
            .menu__btn {
                display: flex;
                width: 30px;
                height: 30px;
                border: none;
                background-color: transparent;
                padding: 0;
                border-radius: 0;
            }
    
.header__menu-list.open {
    position: absolute;
    left: 0;
    top: 76px;
}
.menu__btn {
    position: absolute;
    left: 15px;
    top: 85px;
    display: block;
}
        }
    