.block-1{
    background: black;
    display: flex;
    flex-basis: 45%;
    color: azure;
    margin-right: 5px;
}
.block-2{
    background: black;
    flex-basis: 45%;
    color: azure;
}
.block-3{
    background: black;
    display: flex;
    flex-basis: 55%;
    color: azure;
    margin-right: 5px;
    margin-top: 5px;
}
.block-4{
    background: black;
    display: flex;
    flex-basis: 25%;
    color: azure;
    margin-right: 5px;
}